.main {
    display: grid;
    row-gap: 3.5rem;
}

.intro {
    display: grid;
    place-content: center;
    padding-block: 1.5rem;
    text-align: center;
}

.appendix {
    font-family: var(--ff-barlow-cond);
    text-transform: uppercase;
    color: var(--par-clr);
    letter-spacing: 0.16875rem;
}

.title {
    font-family: var(--ff-bellefair);
    font-size: 5rem;
    font-weight: 400;
    text-transform: uppercase;
}

.paragraph {
    font-family: var(--ff-barlow);
    font-size: 0.9375rem;
    max-width: 54ch;
    line-height: 1.5625rem;
    color: var(--par-clr);
    padding-inline: 1.375rem;
}

.explore_button {
    padding-block: .75rem 0;
    padding-inline: 1.75rem;
    margin-block-end: 4rem;
    aspect-ratio: 1/1;
    border-radius: 100vw;
    background-color: var(--white);
    border: unset;
    max-width: fit-content;
    margin-inline: auto;
}

.explore_text {
    font-family: var(--ff-bellefair);
    font-size: 1.25rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--explore-clr);
    line-height: 1;
    letter-spacing: 0.07813rem;
}

@media screen and (min-width: 768px) {
    .intro {
        padding-block: 6.5rem;
    }

    .appendix {
        font-size: 1.25rem;
        letter-spacing: 0.21094rem;
    }

    .title {
        font-size: 9.375rem;
        line-height: 9.375rem;
        padding-block: 1.5rem;
    }

    .paragraph {
        font-size: 1rem;
        line-height: 1.75rem;
    }

    .explore_button {
        padding-inline: 2.75rem;
        margin-block-end: 5.625rem;
    }

    .explore_text {
        font-size: 2rem;
        letter-spacing: 0.125rem;
    }
}

@media screen and (min-width: 1024px) {
    .main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 10rem;
    }

    .intro {
        padding-block: 15.625rem 0;
        text-align: left;
    }

    .appendix {
        font-size: 1.75rem;
        letter-spacing: 0.29531rem;
    }

    .paragraph {
        padding: 0;
        font-size: 1.125rem;
        line-height: 2rem;
        max-width: 45ch;
    }

    .explore_button {
        padding-inline: 4rem;
        margin: 0;
        margin-block-start: auto;
        position: relative;
        cursor: pointer;
    }

    .explore_button::after {
        position: absolute;
        content: "";
        border-radius: 100vw;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-shadow: 0 0 0 5rem rgba(255, 255, 255, 0.1036);
        transform: scale(0);
        transition: all .25s ease-out;
    }

    .explore_button:hover::after {
        transform: scale(1);
    }
}