html, body {
    min-height: 100vh;
    color-scheme: dark;
}

body {
    background-color: var(--explore-clr);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}