.nav {
    font-family: var(--ff-barlow-cond);
    position: absolute;
    top: 0;
    right: 0;
    width: 65vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.75px);
    transition: all .5s ease-in-out;
    transform-origin: right;
}

.closed {
    transform: scaleX(0);
}

.nav_options {
    list-style: none;
    padding: 7.35rem 0;
    display: grid;
    row-gap: 2rem;
}

.nav_options li {
    text-transform: uppercase;
    letter-spacing: 0.16875rem;
    padding-inline: 2rem 0;
}

.nav_options li a {
    position: relative;
    display: flex;
    gap: 1rem;
    text-decoration: none;
    color: inherit;
}

.nav_options .current {
    border-inline-end: .25rem solid;
}

.nav_options li span {
    font-weight: var(--fw-bold);
    width: 1rem;
}

@media screen and (min-width: 768px) {
    .nav {
        position: unset;
        height: fit-content;
        width: fit-content;
    }

    .closed {
        transform: scaleX(1);
    }

    .nav_options {
        display: flex;
        gap: 2.25rem;
        align-items: center;
        padding: 0 2.5rem;
    }

    .nav_options li {
        font-size: 0.875rem;
        padding: 0;
    }

    .nav_options span {
        display: none;
    }

    .nav_options a {
        padding-block: 2.5rem;
    }

    .nav_options .current {
        border-inline-end: unset;
        position: relative;
        transform: scaleX(1);
    }

    .nav_options a::after {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        bottom: 0;
        height: 0;
        background-color: var(--white);
        transform: scaleX(0);
        transition: transform .5s ease-in-out;
    }

    .nav_options .current::after {
        transform: scaleX(1);
        height: 0.1875rem;
    }
}